/*!
Theme Name: Dustin Stephenson, P.A.
Theme URI: http://brycehewett.com
Author: Bryce Hewett
Version: 1.0
Author URI: http://brycehewett.com
*/

$gray: #393a3c;
$med-gray: lighten($gray, 40);
$light-gray: lighten($gray, 65);
$rly-light-gray: lighten($gray, 70);
$bg-gray: #f2f2f2;
$brand-primary: #2D426A;
$link-color: #5877B2;
$red: #b91410;
$yellow: #e8c014;
$green: #0d9717;

$total-columns: 12;
$column-width: 30px;
$gutter-width: 30px;
$grid-padding: 15px;

$susy: (
        columns: 12,  // The number of columns in your grid
        gutters: 2/4, // The size of a gutter in relation to a single column
);

@import "susy";
@import "vendor/_meyer-reset";
@import "mixins/_rem";

@import "vendor/_wordpress-reset";

@import "includes/_fonts";
@import "includes/_typography";
@import "includes/_navigation";
@import "includes/_layout";
@import "includes/_posts";
@import "includes/_forms";
@import "includes/_buttons";
@import "includes/_footer";
//@import "includes/_gallery";

// Page Specific Stuff
@import "includes/_home";
@import "includes/_page";
//

@media (max-width: 1200px) {
}

@media (max-width: 768px) {
  @import "includes/md/_layout-md";
  @import "includes/md/_home-md";
  @import "includes/_responsive-nav";
}

@media (max-width: 425px) {
  @import "includes/sm/_layout-sm";
  @import "includes/sm/_home-sm";
  @import "includes/sm/_typography-sm";
}