@charset "UTF-8";
/*!
Theme Name: Dustin Stephenson, P.A.
Theme URI: http://brycehewett.com
Author: Bryce Hewett
Version: 1.0
Author URI: http://brycehewett.com
*/
/* http://meyerweb.com/eric/tools/css/reset/
 * v2.0 | 20110126
 * License: none (public domain) */
/* line 5, sass/vendor/_meyer-reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 27, sass/vendor/_meyer-reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 32, sass/vendor/_meyer-reset.scss */
body {
  line-height: 1;
}

/* line 36, sass/vendor/_meyer-reset.scss */
ol, ul {
  list-style: none;
}

/* line 40, sass/vendor/_meyer-reset.scss */
blockquote, q {
  quotes: none;
}

/* line 44, sass/vendor/_meyer-reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

/* line 50, sass/vendor/_meyer-reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 1, sass/vendor/_wordpress-reset.sass */
.alignnone {
  margin: 5px 20px 20px 0;
}

/* line 4, sass/vendor/_wordpress-reset.sass */
.aligncenter, div.aligncenter {
  display: block;
  margin: 5px auto 5px auto;
}

/* line 8, sass/vendor/_wordpress-reset.sass */
.alignright {
  float: right;
}

/* line 11, sass/vendor/_wordpress-reset.sass */
.alignleft {
  float: left;
}

/* line 14, sass/vendor/_wordpress-reset.sass */
.aligncenter {
  display: block;
  margin: 5px auto 5px auto;
}

/* line 18, sass/vendor/_wordpress-reset.sass */
.wp-caption {
  max-width: 100%;
  position: relative;
}
/* line 22, sass/vendor/_wordpress-reset.sass */
.wp-caption .wp-caption-text {
  line-height: 130%;
  text-align: left;
  color: #9ea0a3;
  font-style: italic;
  font-size: 13px;
  font-size: 1.3rem;
  margin-top: 5px;
  margin-bottom: 20px;
}
/* line 31, sass/vendor/_wordpress-reset.sass */
.wp-caption .alignnone {
  margin: 5px 20px 20px 0;
}
/* line 34, sass/vendor/_wordpress-reset.sass */
.wp-caption .alignleft {
  margin: 5px 20px 20px 0;
}
/* line 37, sass/vendor/_wordpress-reset.sass */
.wp-caption .alignright {
  margin: 5px 0 20px 20px;
}
/* line 40, sass/vendor/_wordpress-reset.sass */
.wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto;
}
/* line 49, sass/vendor/_wordpress-reset.sass */
.wp-caption p .wp-caption-text {
  font-size: 11px;
  line-height: 17px;
  margin: 0;
  padding: 0 4px 5px;
}

/* line 55, sass/vendor/_wordpress-reset.sass */
.hidden {
  display: none;
}

/* line 58, sass/vendor/_wordpress-reset.sass */
img, object, embed {
  max-width: 100%;
  height: auto;
}

/* line 62, sass/vendor/_wordpress-reset.sass */
.postmetadata {
  margin-top: 10px;
  color: #9ea0a3;
}

/* line 68, sass/vendor/_wordpress-reset.sass */
ol .commentlist {
  list-style: none;
}
/* line 72, sass/vendor/_wordpress-reset.sass */
ol li .comment {
  border-bottom: 1px dotted #9ea0a3;
  padding: 10px;
}
/* line 75, sass/vendor/_wordpress-reset.sass */
ol li .even {
  background: #fff;
}
/* line 77, sass/vendor/_wordpress-reset.sass */
ol li .odd {
  background: #ededed;
}
/* line 79, sass/vendor/_wordpress-reset.sass */
ol li .parent {
  border-left: 5px solid #111;
}
/* line 83, sass/vendor/_wordpress-reset.sass */
ol li ul .children {
  list-style: none;
  margin: 10px 0 0;
}
/* line 88, sass/vendor/_wordpress-reset.sass */
ol li ul .children li .depth-2 {
  border-left: 5px solid #555;
  margin: 0 0 10px 10px;
}
/* line 93, sass/vendor/_wordpress-reset.sass */
ol li ul .children li .depth-3 {
  border-left: 5px solid #999;
  margin: 0 0 10px 10px;
}
/* line 98, sass/vendor/_wordpress-reset.sass */
ol li ul .children li .depth-4 {
  border-left: 5px solid #bbb;
  margin: 0 0 10px 10px;
}
/* line 103, sass/vendor/_wordpress-reset.sass */
ol li div .comment-meta {
  font-size: 10px;
}
/* line 106, sass/vendor/_wordpress-reset.sass */
ol li div .comment-meta a {
  color: #ccc;
}
/* line 109, sass/vendor/_wordpress-reset.sass */
ol li div .reply {
  font-size: 11px;
}
/* line 112, sass/vendor/_wordpress-reset.sass */
ol li div .reply a {
  font-weight: bold;
}
/* line 118, sass/vendor/_wordpress-reset.sass */
ol li div .vcard cite .fn {
  font-style: normal;
}
/* line 122, sass/vendor/_wordpress-reset.sass */
ol li div .vcard img .avatar {
  float: right;
  margin: 0 0 10px 10px;
}

@font-face {
  font-family: 'Lato';
  src: url("fonts/lato-regular/lato-regular.eot");
  src: url("fonts/lato-regular/lato-regular.eot?#iefix") format("embedded-opentype"), url("fonts/lato-regular/lato-regular.woff") format("woff"), url("fonts/lato-regular/lato-regular.ttf") format("truetype"), url("fonts/lato-regular/lato-regular.svg#latoregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: url("fonts/lato-italic/lato-italic.eot");
  src: url("fonts/lato-italic/lato-italic.eot?#iefix") format("embedded-opentype"), url("fonts/lato-italic/lato-italic.woff") format("woff"), url("fonts/lato-italic/lato-italic.ttf") format("truetype"), url("fonts/lato-italic/lato-italic.svg#latoitalic") format("svg");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Lato';
  src: url("fonts/lato-bold-italic/lato-bold-italic.eot");
  src: url("fonts/lato-bold-italic/lato-bold-italic.eot?#iefix") format("embedded-opentype"), url("fonts/lato-bold-italic/lato-bold-italic.woff") format("woff"), url("fonts/lato-bold-italic/lato-bold-italic.ttf") format("truetype"), url("fonts/lato-bold-italic/lato-bold-italic.svg#latobolditalic") format("svg");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'Lato';
  src: url("fonts/lato-bold/lato-bold.eot");
  src: url("fonts/lato-bold/lato-bold.eot?#iefix") format("embedded-opentype"), url("fonts/lato-bold/lato-bold.woff") format("woff"), url("fonts/lato-bold/lato-bold.ttf") format("truetype"), url("fonts/lato-bold/lato-bold.svg#latobold") format("svg");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: url("fonts/lato-light-italic/lato-light-italic.eot");
  src: url("fonts/lato-light-italic/lato-light-italic.eot?#iefix") format("embedded-opentype"), url("fonts/lato-light-italic/lato-light-italic.woff") format("woff"), url("fonts/lato-light-italic/lato-light-italic.ttf") format("truetype"), url("fonts/lato-light-italic/lato-light-italic.svg#latolightitalic") format("svg");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Andralis';
  src: url("fonts/andralis-nd-sc-regular/andralis-nd-sc-regular.eot");
  src: url("fonts/andralis-nd-sc-regular/andralis-nd-sc-regular.eot?#iefix") format("embedded-opentype"), url("fonts/andralis-nd-sc-regular/andralis-nd-sc-regular.woff") format("woff"), url("fonts/andralis-nd-sc-regular/andralis-nd-sc-regular.ttf") format("truetype"), url("fonts/andralis-nd-sc-regular/andralis-nd-sc-regular.svg#andralisregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 1, sass/includes/_typography.sass */
html {
  font-size: 62.5%;
}

/* line 4, sass/includes/_typography.sass */
body {
  font-size: 16px;
  font-size: 1.6rem;
  font-family: "Lato", sans-serif;
  font-weight: normal;
}

/* line 9, sass/includes/_typography.sass */
h1, h2, h3, h4, h5, h6 {
  margin-top: 15px;
}

/* line 12, sass/includes/_typography.sass */
h4, h5, h6 {
  font-weight: bold;
}

/* line 15, sass/includes/_typography.sass */
em {
  font-style: italic;
}

/* line 18, sass/includes/_typography.sass */
strong {
  font-weight: bold;
}

/* line 21, sass/includes/_typography.sass */
a {
  color: #5877B2;
  text-decoration: none;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
}
/* line 26, sass/includes/_typography.sass */
a:hover {
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

/* line 29, sass/includes/_typography.sass */
h1, h2, h3, h4, h5, h6 {
  font-family: "Andralis", serif;
  font-weight: normal;
  line-height: 158%;
}

/* line 34, sass/includes/_typography.sass */
h1 {
  font-size: 111px;
  font-size: 11.1rem;
  line-height: 118%;
}

/* line 38, sass/includes/_typography.sass */
h2 {
  font-size: 64px;
  font-size: 6.4rem;
}

/* line 41, sass/includes/_typography.sass */
h3 {
  font-size: 24px;
  font-size: 2.4rem;
}

/* line 44, sass/includes/_typography.sass */
h4 {
  font-size: 20px;
  font-size: 2rem;
}

/* line 47, sass/includes/_typography.sass */
h5 {
  font-size: 18px;
  font-size: 1.8rem;
}

/* line 50, sass/includes/_typography.sass */
h6 {
  font-size: 18px;
  font-size: 1.8rem;
  text-transform: uppercase;
}

/* line 54, sass/includes/_typography.sass */
p {
  margin-top: 5px;
  margin-bottom: 20px;
  line-height: 158%;
}

/* line 59, sass/includes/_typography.sass */
blockquote {
  font-size: 22px;
  font-size: 2.2rem;
  color: #393a3c;
  font-style: italic;
  position: relative;
  margin: 10px 25px;
  padding-left: 25px;
  border-left: 3px solid #ededed;
}

/* line 68, sass/includes/_typography.sass */
.dropcap {
  color: #5877B2;
  font-family: Andralis;
  display: block;
  float: left;
  font-size: 80px;
  padding-bottom: 5px;
  padding-right: 3px;
  line-height: 50%;
}

/* line 78, sass/includes/_typography.sass */
article {
  font-size: 16px;
  font-size: 1.6rem;
}
/* line 81, sass/includes/_typography.sass */
article ul {
  list-style-type: circle;
}
/* line 84, sass/includes/_typography.sass */
article ol {
  list-style: decimal;
}
/* line 87, sass/includes/_typography.sass */
article ol, article ul {
  margin: 15px 30px;
  line-height: 150%;
}
/* line 91, sass/includes/_typography.sass */
article ol li, article ul li {
  margin: 5px 0;
}

/* line 1, sass/includes/_navigation.sass */
.top-nav {
  background: #f2f2f2;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: 128px;
  width: 100%;
  font-size: 16px;
  font-size: 1.6rem;
  z-index: 100;
}
/* line 12, ../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/susy/sass/susy/output/support/_clearfix.scss */
.top-nav:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 9, sass/includes/_navigation.sass */
.top-nav ul {
  text-align: right;
}
/* line 12, sass/includes/_navigation.sass */
.top-nav ul li {
  display: inline-block;
  position: relative;
}
/* line 17, sass/includes/_navigation.sass */
.top-nav ul li:hover .sub-menu {
  opacity: 1;
  top: 80%;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  visibility: visible;
}
/* line 23, sass/includes/_navigation.sass */
.top-nav ul li a {
  display: block;
  color: #393a3c;
  padding: 50px 15px 50px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
}
/* line 31, sass/includes/_navigation.sass */
.top-nav ul li a:hover {
  color: #5877B2;
}
/* line 34, sass/includes/_navigation.sass */
.top-nav ul .button, .top-nav ul .wpcf7 .wpcf7-submit, .wpcf7 .top-nav ul .wpcf7-submit {
  padding: 0;
}
/* line 37, sass/includes/_navigation.sass */
.top-nav ul .button a, .top-nav ul .wpcf7 .wpcf7-submit a, .wpcf7 .top-nav ul .wpcf7-submit a {
  padding: 12px 22px 12px 22px;
  color: white;
}
/* line 42, sass/includes/_navigation.sass */
.top-nav ul .button.current-menu-item a, .top-nav ul .wpcf7 .current-menu-item.wpcf7-submit a, .wpcf7 .top-nav ul .current-menu-item.wpcf7-submit a {
  padding: 12px 22px 12px 22px;
  border-bottom: 0;
}
/* line 47, sass/includes/_navigation.sass */
.top-nav ul .current-menu-item > a, .top-nav ul .current_page_ancestor > a {
  border-top: 4px solid #5877B2;
  padding: 46px 15px 50px;
}
/* line 52, sass/includes/_navigation.sass */
.top-nav .menu-item-has-children:before {
  content: "";
  display: inline-block;
  font-family: "FontAwesome";
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  color: #393a3c;
  position: absolute;
  bottom: 20px;
  left: 50%;
  margin-left: -8px;
}
/* line 66, sass/includes/_navigation.sass */
.top-nav .sub-menu {
  position: absolute;
  width: 284px;
  left: -142px;
  margin-left: 50%;
  background: rgba(255, 255, 255, 0.95);
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-top: 1px solid #dfe0e1;
  visibility: hidden;
  padding: 5px 0;
  z-index: 999;
  opacity: 0;
  top: 110%;
}
/* line 82, sass/includes/_navigation.sass */
.top-nav .sub-menu li {
  width: 100%;
}
/* line 85, sass/includes/_navigation.sass */
.top-nav .sub-menu li a {
  padding: 15px;
  width: 100%;
}
/* line 89, sass/includes/_navigation.sass */
.top-nav .sub-menu .current-menu-item > a {
  border-top: none;
  color: #5877B2;
}
/* line 93, sass/includes/_navigation.sass */
.top-nav .sub-menu:before {
  content: "";
  border-bottom: 16px solid #dfe0e1;
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
  position: absolute;
  top: -16px;
  margin-left: 50%;
  left: -16px;
}
/* line 103, sass/includes/_navigation.sass */
.top-nav .sub-menu:after {
  content: "";
  border-bottom: 14px solid rgba(255, 255, 255, 0.9);
  border-left: 14px solid transparent;
  border-right: 14px solid transparent;
  position: absolute;
  top: -14px;
  margin-left: 50%;
  left: -14px;
}
/* line 113, sass/includes/_navigation.sass */
.top-nav .logo {
  display: block;
  float: left;
}
/* line 119, sass/includes/_navigation.sass */
.top-nav .logo img {
  width: 100%;
  height: auto;
}
/* line 123, sass/includes/_navigation.sass */
.top-nav .logo-wrapper {
  position: relative;
  display: inline-block;
  overflow: visible;
}
/* line 128, sass/includes/_navigation.sass */
.top-nav .logo-contact {
  position: absolute;
  left: 136px;
  bottom: 11px;
  font-size: 14px;
}
/* line 134, sass/includes/_navigation.sass */
.top-nav .logo-contact a {
  color: #393a3c;
}

/* line 137, sass/includes/_navigation.sass */
.header-menu {
  width: 57.14286%;
  float: right;
  margin-right: 0;
}

/* line 140, sass/includes/_navigation.sass */
.menu-toggle {
  display: none;
}

/* line 143, sass/includes/_navigation.sass */
.responsive-menu {
  display: none;
}

/* line 1, sass/includes/_layout.sass */
* {
  box-sizing: border-box;
}

/* line 4, sass/includes/_layout.sass */
html {
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}

/* line 8, sass/includes/_layout.sass */
body {
  color: #393a3c;
  overflow-x: hidden;
}

/* line 12, sass/includes/_layout.sass */
img {
  color: #ededed;
}

/* line 15, sass/includes/_layout.sass */
.container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 1170px;
  position: relative;
  padding: 0 15px;
}
/* line 12, ../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/susy/sass/susy/output/support/_clearfix.scss */
.container:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 21, sass/includes/_layout.sass */
.site-wrapper {
  left: 0;
  width: 100%;
  position: relative;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

/* line 27, sass/includes/_layout.sass */
.content {
  margin: 0 auto;
  background: white;
}

/* line 31, sass/includes/_layout.sass */
.hidden {
  display: none;
}

/* line 1, sass/includes/_posts.sass */
.post-teaser {
  margin: 50px 0;
}

/* line 4, sass/includes/_posts.sass */
.post-meta {
  color: #9ea0a3;
  font-size: 16px;
  font-size: 1.6rem;
  margin: 0;
}
/* line 9, sass/includes/_posts.sass */
.post-meta a {
  font-weight: bold;
  color: #84868a;
}
/* line 13, sass/includes/_posts.sass */
.post-meta a:hover {
  text-decoration: underline;
}

/* line 16, sass/includes/_posts.sass */
#post-author {
  margin-top: 30px;
  padding: 30px 0;
  overflow: auto;
  border-top: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
}
/* line 23, sass/includes/_posts.sass */
#post-author p {
  margin: 8px 0;
  float: left;
  padding-top: 8px;
  padding-left: 20px;
  font-size: 18px;
  font-size: 1.8rem;
  color: #9ea0a3;
}
/* line 31, sass/includes/_posts.sass */
#post-author p a {
  color: #9ea0a3;
  font-weight: bold;
}
/* line 35, sass/includes/_posts.sass */
#post-author img {
  margin: 8px;
  float: left;
  border-radius: 50%;
}

/* line 40, sass/includes/_posts.sass */
#post-nav {
  float: left;
  width: 100%;
  margin: 20px 0;
}

/* line 45, sass/includes/_posts.sass */
.fbcomments, .fbcomments * {
  width: 100% !important;
}

/* line 48, sass/includes/_posts.sass */
.teaser-image {
  color: #ededed;
}

/* line 3, sass/includes/_forms.sass */
input[type=text], input[type=search], input[type=email], textarea {
  position: relative;
  color: #393a3c;
  padding: 10px;
  border: 3px solid #ededed;
  position: relative;
  border-radius: 5px;
  font-size: 16px;
  font-size: 1.6rem;
  -webkit-appearance: none;
}
/* line 13, sass/includes/_forms.sass */
input[type=text]:focus, input[type=search]:focus, input[type=email]:focus, textarea:focus {
  border: 3px solid #64b0e4;
  box-shadow: 0 0 0;
  outline: none;
}

/* line 18, sass/includes/_forms.sass */
input.wpcf7-not-valid, textarea.wpcf7-not-valid {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

/* line 22, sass/includes/_forms.sass */
.required {
  color: #b91410;
}

/* line 25, sass/includes/_forms.sass */
.legend {
  font-size: 14px;
  font-size: 1.4rem;
  color: #9ea0a3;
  margin: 0;
}

/* line 34, sass/includes/_forms.sass */
.wpcf7 .name, .wpcf7 .email, .wpcf7 .message {
  float: left;
}
/* line 37, sass/includes/_forms.sass */
.wpcf7 .name, .wpcf7 .email {
  width: 100%;
}
/* line 40, sass/includes/_forms.sass */
.wpcf7 .message {
  width: 100%;
}
/* line 43, sass/includes/_forms.sass */
.wpcf7 input {
  width: 100%;
}
/* line 46, sass/includes/_forms.sass */
.wpcf7 .wpcf7-form-control-wrap {
  position: relative;
  margin-top: 5px;
}
/* line 52, sass/includes/_forms.sass */
.wpcf7 .wpcf7-form-control-wrap.recaptcha-373 .wpcf7-not-valid-tip {
  position: relative;
  border-radius: 5px;
  top: 0;
  margin-top: 5px;
}
/* line 58, sass/includes/_forms.sass */
.wpcf7 .wpcf7-not-valid {
  border: 3px solid #b91410;
  margin-top: 30px;
}
/* line 62, sass/includes/_forms.sass */
.wpcf7 .wpcf7-not-valid-tip {
  background: #b91410;
  position: absolute;
  padding: 3px 15px;
  width: 100%;
  text-align: left;
  left: 0;
  top: -42px;
  color: white;
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: bold;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
/* line 76, sass/includes/_forms.sass */
.wpcf7 .wpcf7-submit {
  border: none;
  padding: 40px;
  width: 100%;
  margin: 25px 0 0 !important;
  width: 200px;
  -webkit-appearance: none;
}
/* line 86, sass/includes/_forms.sass */
.wpcf7 .wpcf7-validation-errors {
  border: none;
  background: #e8c014;
}
/* line 90, sass/includes/_forms.sass */
.wpcf7 .wpcf7-mail-sent-ok {
  border: none;
  color: white;
  background: #0d9717;
}
/* line 95, sass/includes/_forms.sass */
.wpcf7 .wpcf7-response-output {
  font-weight: bold;
  font-size: 20px;
  font-size: 2rem;
  border-radius: 6px;
  margin: 10px 0;
  padding: 20px;
  width: 100%;
  text-align: center;
}
/* line 104, sass/includes/_forms.sass */
.wpcf7 textarea {
  width: 100%;
}

/* line 108, sass/includes/_forms.sass */
.invalid .wpcf7-form-control-wrap {
  margin-bottom: 20px;
}

/* line 111, sass/includes/_forms.sass */
.mobile-nav {
  display: none;
}

/* line 115, sass/includes/_forms.sass */
.searchform {
  overflow: auto;
  margin-bottom: 30px;
}

/* line 119, sass/includes/_forms.sass */
.s {
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  margin-right: 0 !important;
  float: left;
}

/* line 125, sass/includes/_forms.sass */
.searchsubmit {
  border: none;
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  margin: 0 !important;
  float: left;
}

/* line 2, sass/includes/_buttons.sass */
.button, .wpcf7 .wpcf7-submit {
  font-weight: bold;
  padding: 13px 22px 13px 22px;
  position: relative;
  display: inline-block;
  margin: 3px 8px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  font-size: 1.6rem;
}
/* line 12, sass/includes/_buttons.sass */
.button.white, .wpcf7 .white.wpcf7-submit {
  background: white;
  color: #393a3c;
}
/* line 16, sass/includes/_buttons.sass */
.button.white:hover, .wpcf7 .white.wpcf7-submit:hover {
  background: #ededed;
}
/* line 19, sass/includes/_buttons.sass */
.button.outline, .wpcf7 .outline.wpcf7-submit {
  background: transparent;
  color: #2D426A;
  border: 2px solid #2D426A;
}
/* line 24, sass/includes/_buttons.sass */
.button.outline:hover, .wpcf7 .outline.wpcf7-submit:hover {
  background: #2D426A;
  color: white;
}
/* line 28, sass/includes/_buttons.sass */
.button.button-block, .wpcf7 .button-block.wpcf7-submit {
  width: 100%;
  text-align: center;
}
/* line 32, sass/includes/_buttons.sass */
.button.button-lg, .wpcf7 .button-lg.wpcf7-submit {
  font-size: 22px;
  font-size: 2.2rem;
  padding: 18px 28px 18px 28px;
}
/* line 36, sass/includes/_buttons.sass */
.button.button-lg.outline, .wpcf7 .button-lg.outline.wpcf7-submit {
  border: 3px solid #2D426A;
}

/* line 40, sass/includes/_buttons.sass */
.older, .prev-posts, .newer, .next-posts {
  max-width: 200px;
}
/* line 43, sass/includes/_buttons.sass */
.older a, .prev-posts a, .newer a, .next-posts a {
  width: 100%;
  margin: 8px 0;
}

/* line 47, sass/includes/_buttons.sass */
.older, .prev-posts {
  float: left;
}

/* line 54, sass/includes/_buttons.sass */
.newer, .next-posts {
  float: right;
}

/* line 61, sass/includes/_buttons.sass */
.share_twitter, .share_facebook {
  text-align: left;
  display: inline;
  padding: 0;
  color: #2D426A !important;
  font-size: 16px;
  font-size: 1.6rem;
}

/* line 68, sass/includes/_buttons.sass */
.share_facebook {
  margin-left: 10px;
}

/* line 1, sass/includes/_footer.sass */
.footer {
  color: white;
  border-top: 8px solid #dfe0e1;
  font-size: 14px;
  font-size: 1.4rem;
  background: #2D426A;
  overflow: auto;
  clear: both;
  padding: 0 15px;
}
/* line 10, sass/includes/_footer.sass */
.footer .textwidget {
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 160%;
}
/* line 14, sass/includes/_footer.sass */
.footer a {
  color: white;
}

/* line 17, sass/includes/_footer.sass */
.footer-menu {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}
/* line 20, sass/includes/_footer.sass */
.footer-menu ul {
  margin: 25px 0;
}
/* line 23, sass/includes/_footer.sass */
.footer-menu ul li {
  display: inline-block;
  margin: 8px 0;
}
/* line 27, sass/includes/_footer.sass */
.footer-menu ul li a {
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  padding: 0 15px;
}
/* line 33, sass/includes/_footer.sass */
.footer-menu ul li:first-child a {
  padding-left: 0;
}

/* line 36, sass/includes/_footer.sass */
.footer-static-col {
  text-align: center;
  width: 22.85714%;
  float: left;
  margin-right: 2.85714%;
}

/* line 40, sass/includes/_footer.sass */
.footer-logo {
  display: block;
  background: url(images/footer-logo.svg) no-repeat center center;
  background-size: contain;
  margin-top: 38px;
  margin-bottom: 62px;
  height: 157px;
}

/* line 48, sass/includes/_footer.sass */
.one-quarter-col {
  width: 22.85714%;
  float: left;
  margin-right: 2.85714%;
}

/* line 51, sass/includes/_footer.sass */
.three-quarter-col {
  width: 74.28571%;
  float: right;
  margin-right: 0;
  padding-right: 30px;
}

/* line 55, sass/includes/_footer.sass */
.copyright {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  margin: 0;
  padding: 40px 0;
  text-align: left;
  color: #dfe0e1;
  font-size: 14px;
  font-size: 1.4rem;
}
/* line 63, sass/includes/_footer.sass */
.copyright a {
  text-decoration: underline;
}

/* line 1, sass/includes/_home.sass */
.promo-header {
  background: #f2f2f2;
  padding-top: 50px;
}

/* line 5, sass/includes/_home.sass */
.promo-img {
  width: 31.42857%;
  float: left;
  margin-right: 2.85714%;
  height: 371px;
  background: url(images/courthouse.jpg) no-repeat center center;
  background-size: cover;
}

/* line 11, sass/includes/_home.sass */
.promo-text {
  background: #2D426A;
  width: 65.71429%;
  float: right;
  margin-right: 0;
  height: 371px;
}
/* line 16, sass/includes/_home.sass */
.promo-text img {
  width: 83%;
  height: auto;
  margin: 0 auto;
  margin-top: 72px;
  display: block;
}

/* line 23, sass/includes/_home.sass */
.promo-cta {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  padding: 40px 0;
}

/* line 27, sass/includes/_home.sass */
.cta-text {
  width: 65.71429%;
  float: left;
  margin-right: 2.85714%;
  font-weight: 400;
  font-size: 28px;
  font-size: 2.8rem;
  font-style: italic;
  line-height: 135%;
}

/* line 34, sass/includes/_home.sass */
.cta-button {
  width: 22.85714%;
  float: right;
  margin-right: 0;
  margin-top: 25px;
}
/* line 38, sass/includes/_home.sass */
.cta-button .button, .cta-button .wpcf7 .wpcf7-submit, .wpcf7 .cta-button .wpcf7-submit {
  margin: 0;
}

/* line 41, sass/includes/_home.sass */
.column-section {
  padding-top: 35px;
  padding-bottom: 40px;
}

/* line 45, sass/includes/_home.sass */
.col-one-third {
  width: 31.42857%;
  float: left;
  margin-right: 2.85714%;
}

/* line 48, sass/includes/_home.sass */
.col-one-third-last {
  width: 31.42857%;
  float: right;
  margin-right: 0;
}

/* line 51, sass/includes/_home.sass */
.block-link {
  display: block;
  color: #393a3c;
  padding: 15px;
}
/* line 56, sass/includes/_home.sass */
.block-link h3 {
  color: #5877B2;
}
/* line 59, sass/includes/_home.sass */
.block-link:hover, .block-link:active {
  background: #f2f2f2;
}

/* line 62, sass/includes/_home.sass */
.quote {
  background: url(images/dustin-headshot.jpg) no-repeat;
  background-size: contain;
  height: 300px;
  padding-left: 300px;
  text-align: right;
  font-weight: 400;
  font-size: 28px;
  font-size: 2.8rem;
  font-style: italic;
  position: relative;
  padding-top: 100px;
  line-height: 135%;
}
/* line 75, sass/includes/_home.sass */
.quote:before {
  content: "";
  background: url(images/quote.svg) no-repeat;
  height: 70px;
  width: 79px;
  position: absolute;
  left: 300px;
  top: 20px;
}

/* line 1, sass/includes/_page.sass */
.page-header {
  background: #f2f2f2;
  padding: 30px 17% 60px 17%;
}
/* line 5, sass/includes/_page.sass */
.page-header h1 {
  line-height: 85%;
}
/* line 8, sass/includes/_page.sass */
.page-header hr {
  border: 2px solid #5877B2;
}

/* line 11, sass/includes/_page.sass */
.page-quote {
  text-align: right;
  font-weight: 400;
  font-style: italic;
  font-size: 26px;
  font-size: 2.6rem;
  padding-top: 25px;
  line-height: 135%;
}

/* line 19, sass/includes/_page.sass */
.single-column-container {
  padding: 120px 17% 90px 17%;
  overflow: auto;
}
/* line 23, sass/includes/_page.sass */
.single-column-container img.alignleft {
  margin-right: 15px;
  margin-bottom: 15px;
}

/* line 27, sass/includes/_page.sass */
.header-image + article {
  padding: 50px 17% 90px 17%;
  overflow: auto;
}

/* line 31, sass/includes/_page.sass */
.header-image {
  width: 100%;
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

/* line 40, sass/includes/_page.sass */
.error404 section {
  padding: 120px 210px 90px 210px;
  overflow: auto;
  min-height: 500px;
}

/* line 46, sass/includes/_page.sass */
.team-member {
  width: 48.57143%;
  float: left;
  margin-right: 2.85714%;
  margin-bottom: 30px;
}
/* line 50, sass/includes/_page.sass */
.team-member:nth-child(odd) {
  width: 48.57143%;
  float: right;
  margin-right: 0;
}
/* line 53, sass/includes/_page.sass */
.team-member img {
  float: left;
  width: 135px;
  margin-right: 30px;
  border-radius: 5px;
  border: 5px solid #dfe0e1;
}
/* line 60, sass/includes/_page.sass */
.team-member h2 {
  line-height: 110%;
}
/* line 63, sass/includes/_page.sass */
.team-member p {
  margin-top: 0;
  color: #9ea0a3;
}

/* line 69, sass/includes/_page.sass */
.crumbs {
  font-size: 16px;
  font-size: 1.6rem;
  color: #9ea0a3;
  margin-top: 20px;
}
/* line 74, sass/includes/_page.sass */
.crumbs a {
  color: #9ea0a3;
}
/* line 77, sass/includes/_page.sass */
.crumbs a:hover {
  color: #2D426A;
}

/* line 81, sass/includes/_page.sass */
.two-column-container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 100px;
  margin: 0 9% 90px;
}
/* line 12, ../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/susy/sass/susy/output/support/_clearfix.scss */
.two-column-container:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 86, sass/includes/_page.sass */
.column-two-thirds {
  width: 65.71429%;
  float: left;
  margin-right: 2.85714%;
}

/* line 89, sass/includes/_page.sass */
.column-one-third-last {
  width: 31.42857%;
  float: right;
  margin-right: 0;
}

/* line 92, sass/includes/_page.sass */
.sidebar {
  padding-top: 40px;
  padding-left: 3.69492%;
}

/* line 99, sass/includes/_page.sass */
.single-team-members header p {
  color: #9ea0a3;
  margin-top: 0;
  line-height: 100%;
}
/* line 104, sass/includes/_page.sass */
.single-team-members .attachment-post-thumbnail {
  width: 250px;
  float: left;
  margin-right: 30px;
  margin-bottom: 30px;
  border-radius: 5px;
  border: 5px solid #dfe0e1;
}

/* line 113, sass/includes/_page.sass */
.office-location {
  width: 46%;
  height: 360px;
  float: left;
  background-size: cover;
  display: block;
  border-radius: 5px;
  border: 5px solid #dfe0e1;
  position: relative;
}
/* line 123, sass/includes/_page.sass */
.office-location .office-link-overlay {
  background: rgba(0, 0, 0, 0.1);
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding: 20px;
}
/* line 133, sass/includes/_page.sass */
.office-location img {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  display: block;
  margin-top: 110px;
  opacity: 0.8;
}
/* line 141, sass/includes/_page.sass */
.office-location span {
  color: white;
  text-align: center;
  display: block;
  font-weight: bold;
  font-size: 22px;
  font-size: 2.2rem;
  text-shadow: 0 0 10px black;
}
/* line 150, sass/includes/_page.sass */
.office-location:hover span {
  text-decoration: none;
}
/* line 153, sass/includes/_page.sass */
.office-location.chattanooga {
  background: url(images/chattanooga-thumb.jpg) no-repeat center center;
  margin-right: 4%;
  background-size: cover;
}
/* line 158, sass/includes/_page.sass */
.office-location.ft-walton {
  background: url(images/ft-walton-thumb.jpg) no-repeat center center;
  background-size: cover;
}

@media (max-width: 768px) {
  /* line 1, sass/includes/md/_layout-md.sass */
  .promo-header {
    padding-top: 145px;
  }

  /* line 4, sass/includes/md/_layout-md.sass */
  .teaser-text {
    padding: 15px 9% 55px;
  }
  /* line 7, sass/includes/md/_layout-md.sass */
  .teaser-text h2 {
    font-size: 20px;
    font-size: 2rem;
  }
  /* line 9, sass/includes/md/_layout-md.sass */
  .teaser-text h2 strong {
    font-weight: normal;
  }

  /* line 12, sass/includes/md/_layout-md.sass */
  .section {
    height: 375px;
  }
  /* line 15, sass/includes/md/_layout-md.sass */
  .section .section-img {
    height: 375px;
  }
  /* line 18, sass/includes/md/_layout-md.sass */
  .section .section-text {
    padding: 50px 8%;
  }
  /* line 22, sass/includes/md/_layout-md.sass */
  .section.c-def .section-text {
    text-align: left;
  }

  /* line 25, sass/includes/md/_layout-md.sass */
  .page-header {
    padding: 160px 10% 60px 10%;
  }
  /* line 28, sass/includes/md/_layout-md.sass */
  .page-header h1 {
    font-size: 70px;
    font-size: 7rem;
  }

  /* line 31, sass/includes/md/_layout-md.sass */
  .single-column-container {
    padding: 120px 10% 90px 10%;
  }

  /* line 1, sass/includes/md/_home-md.sass */
  .promo-text {
    height: 320px;
  }

  /* line 4, sass/includes/md/_home-md.sass */
  .promo-img {
    height: 320px;
  }

  /* line 7, sass/includes/md/_home-md.sass */
  .cta-text {
    width: 65.71429%;
    float: left;
    margin-right: 2.85714%;
    font-size: 22px;
    font-size: 2.2rem;
  }

  /* line 11, sass/includes/md/_home-md.sass */
  .cta-button {
    width: 31.42857%;
    float: right;
    margin-right: 0;
  }

  /* line 14, sass/includes/md/_home-md.sass */
  .quote {
    font-size: 22px;
    font-size: 2.2rem;
  }

  /* line 1, sass/includes/_responsive-nav.sass */
  .top-nav {
    position: fixed;
    top: 0;
    left: 0;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  /* line 7, sass/includes/_responsive-nav.sass */
  .menu-toggle {
    position: absolute;
    top: 23px;
    right: 20px;
    display: block;
    font-size: 24px;
    font-size: 2.4rem;
    cursor: pointer;
  }
  /* line 15, sass/includes/_responsive-nav.sass */
  .menu-toggle.active {
    color: #5877B2;
  }

  /* line 18, sass/includes/_responsive-nav.sass */
  .header-menu {
    display: none;
  }

  /* line 21, sass/includes/_responsive-nav.sass */
  .pushed {
    left: -260px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  /* line 25, sass/includes/_responsive-nav.sass */
  .responsive-menu {
    position: fixed;
    right: -260px;
    top: 0;
    display: block;
    width: 260px;
    background: #323234;
    height: 100%;
    z-index: 2000;
    overflow-y: scroll;
    padding-top: 20px;
    font-size: 20px;
    font-size: 2rem;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  /* line 39, sass/includes/_responsive-nav.sass */
  .responsive-menu.active {
    right: 0;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  /* line 43, sass/includes/_responsive-nav.sass */
  .responsive-menu li a {
    padding: 15px 30px;
    color: white;
    display: block;
  }
  /* line 50, sass/includes/_responsive-nav.sass */
  .responsive-menu .sub-menu li {
    font-weight: normal;
  }
  /* line 53, sass/includes/_responsive-nav.sass */
  .responsive-menu .button.red, .responsive-menu .wpcf7 .wpcf7-submit, .wpcf7 .responsive-menu .wpcf7-submit {
    background: rgba(255, 255, 255, 0.3);
    margin: 10px 40px;
    text-align: center;
    padding: 8px 0;
    box-shadow: 0 0 0;
    border: 1px solid white;
  }

  /* line 61, sass/includes/_responsive-nav.sass */
  .menu-social-icons {
    color: white;
    padding: 0 40px;
  }
  /* line 65, sass/includes/_responsive-nav.sass */
  .menu-social-icons .fa {
    color: white;
    font-size: 24px;
  }
}
@media (max-width: 425px) {
  /* line 2, sass/includes/sm/_layout-sm.sass */
  .top-nav .logo-contact {
    display: none;
  }

  /* line 5, sass/includes/sm/_layout-sm.sass */
  .section {
    overflow: visible;
    height: auto;
  }
  /* line 10, sass/includes/sm/_layout-sm.sass */
  .section.i-law .section-img, .section.c-def .section-img {
    width: 100%;
    float: none;
    display: block;
    height: 250px;
  }
  /* line 16, sass/includes/sm/_layout-sm.sass */
  .section.i-law .section-text, .section.c-def .section-text {
    width: 100%;
    float: none;
    display: block;
  }

  /* line 21, sass/includes/sm/_layout-sm.sass */
  .single-column-container {
    padding: 30px 0;
  }
  /* line 24, sass/includes/sm/_layout-sm.sass */
  .single-column-container img, .single-column-container img.alignleft {
    width: 100%;
    margin: 0 0 30px 0;
  }

  /* line 28, sass/includes/sm/_layout-sm.sass */
  .block-link h3 {
    font-size: 22px;
    font-size: 2.2rem;
  }

  /* line 31, sass/includes/sm/_layout-sm.sass */
  .header-image + article, .page-header {
    padding: 80px 0 30px 0;
  }

  /* line 34, sass/includes/sm/_layout-sm.sass */
  .header-image {
    height: 150px;
  }

  /* line 37, sass/includes/sm/_layout-sm.sass */
  .top-nav {
    height: 60px;
  }
  /* line 40, sass/includes/sm/_layout-sm.sass */
  .top-nav .logo img {
    height: 60px;
    width: auto;
  }

  /* line 44, sass/includes/sm/_layout-sm.sass */
  .menu-toggle {
    top: 19px;
    right: 12px;
  }

  /* line 48, sass/includes/sm/_layout-sm.sass */
  .team-member, .team-member:nth-child(odd) {
    margin-top: 15px;
    width: 100%;
  }
  /* line 52, sass/includes/sm/_layout-sm.sass */
  .team-member img, .team-member:nth-child(odd) img {
    width: 100%;
    margin: 15px 0;
  }

  /* line 56, sass/includes/sm/_layout-sm.sass */
  .promo-image {
    height: 325px;
  }

  /* line 59, sass/includes/sm/_layout-sm.sass */
  .promo-text {
    margin-top: 80px;
  }

  /* line 62, sass/includes/sm/_layout-sm.sass */
  .single-team-members .attachment-post-thumbnail {
    float: none;
  }

  /* line 65, sass/includes/sm/_layout-sm.sass */
  .footer-menu {
    display: none;
  }

  /* line 68, sass/includes/sm/_layout-sm.sass */
  .footer-left-col, .footer-mid-col, .footer-right-col {
    width: 100%;
    text-align: center;
    padding-right: 0;
  }
  /* line 73, sass/includes/sm/_layout-sm.sass */
  .footer-left-col .alignright, .footer-mid-col .alignright, .footer-right-col .alignright {
    float: none;
    display: inline;
    margin: 0;
  }

  /* line 78, sass/includes/sm/_layout-sm.sass */
  .footer-static-col {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
  }

  /* line 83, sass/includes/sm/_layout-sm.sass */
  .footer-logo {
    margin: 30px auto;
  }

  /* line 1, sass/includes/sm/_home-sm.sass */
  .promo-header {
    padding-top: 50px;
  }

  /* line 4, sass/includes/sm/_home-sm.sass */
  .promo-img {
    display: none;
  }

  /* line 7, sass/includes/sm/_home-sm.sass */
  .promo-text {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    margin-top: 10px;
    height: 256px;
  }

  /* line 12, sass/includes/sm/_home-sm.sass */
  .cta-text {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }

  /* line 15, sass/includes/sm/_home-sm.sass */
  .cta-button {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    padding: 0 12%;
  }

  /* line 19, sass/includes/sm/_home-sm.sass */
  .col-one-third {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }

  /* line 22, sass/includes/sm/_home-sm.sass */
  .col-one-third-last {
    width: 100%;
    float: right;
    margin-right: 0;
  }

  /* line 25, sass/includes/sm/_home-sm.sass */
  .quote {
    display: none;
  }

  /* line 1, sass/includes/sm/_typography-sm.sass */
  html {
    font-size: 62.5%;
  }

  /* line 4, sass/includes/sm/_typography-sm.sass */
  body {
    font-size: 18px;
    font-size: 1.8rem;
  }

  /* line 7, sass/includes/sm/_typography-sm.sass */
  h1, h2, h3, h4, h5, h6 {
    margin-top: 15px;
  }

  /* line 10, sass/includes/sm/_typography-sm.sass */
  h1 {
    font-size: 38px;
    font-size: 3.8rem;
  }

  /* line 13, sass/includes/sm/_typography-sm.sass */
  h2 {
    font-size: 32px;
    font-size: 3.2rem;
  }

  /* line 16, sass/includes/sm/_typography-sm.sass */
  h3 {
    font-size: 24px;
    font-size: 2.4rem;
  }

  /* line 19, sass/includes/sm/_typography-sm.sass */
  h4 {
    font-size: 20px;
    font-size: 2rem;
  }

  /* line 22, sass/includes/sm/_typography-sm.sass */
  h5 {
    font-size: 18px;
    font-size: 1.8rem;
  }

  /* line 25, sass/includes/sm/_typography-sm.sass */
  h6 {
    font-size: 16px;
    font-size: 1.6rem;
  }

  /* line 29, sass/includes/sm/_typography-sm.sass */
  #header-text h1 {
    font-size: 60px;
    font-size: 6rem;
  }

  /* line 32, sass/includes/sm/_typography-sm.sass */
  p {
    line-height: 160%;
    margin-top: 5px;
    margin-bottom: 20px;
  }

  /* line 37, sass/includes/sm/_typography-sm.sass */
  blockquote {
    font-size: 20px;
    font-size: 2rem;
    margin-left: 0;
    padding-left: 10px;
  }

  /* line 43, sass/includes/sm/_typography-sm.sass */
  .page-header h1 {
    font-size: 40px;
    font-size: 4rem;
  }

  /* line 48, sass/includes/sm/_typography-sm.sass */
  .page article header h1 {
    margin: 20px 0;
    text-align: left;
  }

  /* line 52, sass/includes/sm/_typography-sm.sass */
  article {
    font-size: 18px;
    font-size: 1.8rem;
  }

  /* line 55, sass/includes/sm/_typography-sm.sass */
  .page-quote {
    font-size: 18px;
    font-size: 1.8rem;
  }

  /* line 58, sass/includes/sm/_typography-sm.sass */
  .footer-static-col {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }

  /* line 61, sass/includes/sm/_typography-sm.sass */
  .one-quarter-col {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }

  /* line 64, sass/includes/sm/_typography-sm.sass */
  .three-quarter-col {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }
}

/*# sourceMappingURL=style.css.map */