.promo-header
  padding-top: 50px

.promo-img
  display: none

.promo-text
  @include span(12 of 12)
  margin-top: 10px
  height: 256px

.cta-text
  @include span(12 of 12)

.cta-button
  @include span(12 of 12)
  padding: 0 12%

.col-one-third
  @include span(12 of 12)

.col-one-third-last
  @include span(12 of 12 last)

.quote
  display: none