.top-nav
  .logo-contact
    display: none

.section
  overflow: visible
  height: auto

  &.i-law, &.c-def
    .section-img
      width: 100%
      float: none
      display: block
      height: 250px

    .section-text
      width: 100%
      float: none
      display: block

.single-column-container
  padding: 30px 0

  img, img.alignleft
    width: 100%
    margin: 0 0 30px 0

.block-link h3
  +rem("font-size", 22px)

.header-image + article, .page-header
  padding: 80px 0 30px 0

.header-image
  height: 150px

.top-nav
  height: 60px

  .logo img
    height: 60px
    width: auto

.menu-toggle
  top: 19px
  right: 12px

.team-member, .team-member:nth-child(odd)
  margin-top: 15px
  width: 100%

  img
    width: 100%
    margin: 15px 0

.promo-image
  height: 325px

.promo-text
  margin-top: 80px

.single-team-members .attachment-post-thumbnail
  float: none

.footer-menu
  display: none

.footer-left-col, .footer-mid-col, .footer-right-col
  width: 100%
  text-align: center
  padding-right: 0

  .alignright
    float: none
    display: inline
    margin: 0

.footer-static-col
  width: 100%
  text-align: center
  margin-bottom: 30px

.footer-logo
  margin: 30px auto