html
  font-size: 62.5%

body
  +rem('font-size', 18px)

h1, h2, h3, h4, h5, h6
  margin-top: 15px

h1
  +rem('font-size', 38px)

h2
  +rem('font-size', 32px)

h3
  +rem('font-size', 24px)

h4
  +rem('font-size', 20px)

h5
  +rem('font-size', 18px)

h6
  +rem('font-size', 16px)

#header-text
  h1
    +rem('font-size', 60px)

p
  line-height: 160%
  margin-top: 5px
  margin-bottom: 20px

blockquote
  +rem('font-size', 20px)
  margin-left: 0
  padding-left: 10px

.page-header
  h1
    +rem('font-size', 40px)

.page
  article header
    h1
      margin: 20px 0
      text-align: left

article
  +rem('font-size', 18px)

.page-quote
  +rem('font-size', 18px)

.footer-static-col
  @include span(12 of 12)

.one-quarter-col
  @include span(12 of 12)

.three-quarter-col
  @include span(12 of 12)