
.button
  font-weight: bold
  padding: 13px 22px 13px 22px
  position: relative
  display: inline-block
  margin: 3px 8px
  cursor: pointer
  border-radius: 5px
  +rem('font-size', 16px)

  &.white
    background: white
    color: $gray

    &:hover
      background: $rly-light-gray

  &.outline
    background: transparent
    color: $brand-primary
    border: 2px solid $brand-primary

    &:hover
      background: $brand-primary
      color: white

  &.button-block
    width: 100%
    text-align: center

  &.button-lg
    +rem("font-size", 22px)
    padding: 18px 28px 18px 28px

    &.outline
      border: 3px solid $brand-primary


%button-nav
  max-width: 200px

  a
    width: 100%
    margin: 8px 0

.older
  @extend %button-nav
  float: left

.prev-posts
  @extend .older

.newer
  @extend %button-nav
  float: right

.next-posts
  @extend .newer

.share_twitter, .share_facebook
  text-align: left
  display: inline
  padding: 0
  color: $brand-primary !important
  +rem('font-size', 16px)

.share_facebook
  margin-left: 10px