// Lato Regular
@font-face {
  font-family: 'Lato';
  src: url('fonts/lato-regular/lato-regular.eot');
  src: url('fonts/lato-regular/lato-regular.eot?#iefix') format('embedded-opentype'),
  url('fonts/lato-regular/lato-regular.woff') format('woff'),
  url('fonts/lato-regular/lato-regular.ttf') format('truetype'),
  url('fonts/lato-regular/lato-regular.svg#latoregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

// Lato Italic
@font-face {
  font-family: 'Lato';
  src: url('fonts/lato-italic/lato-italic.eot');
  src: url('fonts/lato-italic/lato-italic.eot?#iefix') format('embedded-opentype'),
  url('fonts/lato-italic/lato-italic.woff') format('woff'),
  url('fonts/lato-italic/lato-italic.ttf') format('truetype'),
  url('fonts/lato-italic/lato-italic.svg#latoitalic') format('svg');
  font-weight: normal;
  font-style: italic;
}

//Lato Bold Italic
@font-face {
  font-family: 'Lato';
  src: url('fonts/lato-bold-italic/lato-bold-italic.eot');
  src: url('fonts/lato-bold-italic/lato-bold-italic.eot?#iefix') format('embedded-opentype'),
  url('fonts/lato-bold-italic/lato-bold-italic.woff') format('woff'),
  url('fonts/lato-bold-italic/lato-bold-italic.ttf') format('truetype'),
  url('fonts/lato-bold-italic/lato-bold-italic.svg#latobolditalic') format('svg');
  font-weight: bold;
  font-style: italic;
}

//Lato Bold
@font-face {
  font-family: 'Lato';
  src: url('fonts/lato-bold/lato-bold.eot');
  src: url('fonts/lato-bold/lato-bold.eot?#iefix') format('embedded-opentype'),
  url('fonts/lato-bold/lato-bold.woff') format('woff'),
  url('fonts/lato-bold/lato-bold.ttf') format('truetype'),
  url('fonts/lato-bold/lato-bold.svg#latobold') format('svg');
  font-weight: bold;
  font-style: normal;
}

//Lato Light Italic
@font-face {
  font-family: 'Lato';
  src: url('fonts/lato-light-italic/lato-light-italic.eot');
  src: url('fonts/lato-light-italic/lato-light-italic.eot?#iefix') format('embedded-opentype'),
  url('fonts/lato-light-italic/lato-light-italic.woff') format('woff'),
  url('fonts/lato-light-italic/lato-light-italic.ttf') format('truetype'),
  url('fonts/lato-light-italic/lato-light-italic.svg#latolightitalic') format('svg');
  font-weight: 400;
  font-style: italic;
}

// Andralis Regular
@font-face {
  font-family: 'Andralis';
  src: url('fonts/andralis-nd-sc-regular/andralis-nd-sc-regular.eot');
  src: url('fonts/andralis-nd-sc-regular/andralis-nd-sc-regular.eot?#iefix') format('embedded-opentype'),
  url('fonts/andralis-nd-sc-regular/andralis-nd-sc-regular.woff') format('woff'),
  url('fonts/andralis-nd-sc-regular/andralis-nd-sc-regular.ttf') format('truetype'),
  url('fonts/andralis-nd-sc-regular/andralis-nd-sc-regular.svg#andralisregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
  
  