.footer
  color: white
  border-top: 8px solid $light-gray
  +rem('font-size', 14px)
  background: $brand-primary
  overflow: auto
  clear: both
  padding: 0 15px

  .textwidget
    +rem('font-size', 16px)
    line-height: 160%

  a
    color: white

.footer-menu
  @include span(12 of 12)

  ul
    margin: 25px 0

    li
      display: inline-block
      margin: 8px 0

      a
        text-transform: uppercase
        font-weight: bold
        color: white
        padding: 0 15px

    li:first-child a
      padding-left: 0

.footer-static-col
  text-align: center
  @include span(3 of 12 first)

.footer-logo
  display: block
  background: url(images/footer-logo.svg) no-repeat center center
  background-size: contain
  margin-top: 38px
  margin-bottom: 62px
  height: 157px

.one-quarter-col
  @include span(3 of 12 first)

.three-quarter-col
  @include span(9 of 12 last)
  padding-right: 30px

.copyright
  @include span(12 of 12 clear)
  margin: 0
  padding: 40px 0
  text-align: left
  color: $light-gray
  +rem('font-size', 14px)

  a
    text-decoration: underline

