.promo-header
  background: $bg-gray
  padding-top: 50px

.promo-img
  @include span(4 of 12)
  height: 371px
  background: url(images/courthouse.jpg) no-repeat center center
  background-size: cover

.promo-text
  background: $brand-primary
  @include span(8 of 12 last)
  height: 371px

  img
    width: 83%
    height: auto
    margin: 0 auto
    margin-top: 72px
    display: block

.promo-cta
  @include span(12 of 12)
  padding: 40px 0

.cta-text
  @include span(8 of 12)
  font-weight: 400
  +rem("font-size", 28px)
  font-style: italic
  line-height: 135%

.cta-button
  @include span(3 of 12 last)
  margin-top: 25px

  .button
    margin: 0

.column-section
  padding-top: 35px
  padding-bottom: 40px

.col-one-third
  @include span(4 of 12)

.col-one-third-last
  @include span(4 of 12 last)

.block-link
  display: block
  color: $gray
  padding: 15px

  h3
    color: $link-color

  &:hover, &:active
    background: $bg-gray

.quote
  background: url(images/dustin-headshot.jpg) no-repeat
  background-size: contain
  height: 300px
  padding-left: 300px
  text-align: right
  font-weight: 400
  +rem("font-size", 28px)
  font-style: italic
  position: relative
  padding-top: 100px
  line-height: 135%

  &:before
    content: ''
    background: url(images/quote.svg) no-repeat
    height: 70px
    width: 79px
    position: absolute
    left: 300px
    top: 20px
