*
  box-sizing: border-box

html
  overflow-x: hidden
  -webkit-font-smoothing: antialiased

body
  color: $gray
  overflow-x: hidden

img
  color: $rly-light-gray

.container
  @include container
  max-width: 1170px
  position: relative
  padding: 0 15px

.site-wrapper
  left: 0
  width: 100%
  position: relative
  transition: all .3s ease-in-out

.content
  margin: 0 auto
  background: white

.hidden
  display: none