.top-nav
  background: $bg-gray
  @include container
  height: 128px
  width: 100%
  +rem('font-size', 16px)
  z-index: 100

  ul
    text-align: right

    li
      display: inline-block
      position: relative

      &:hover
        .sub-menu
          opacity: 1
          top: 80%
          transition: all 0.5s ease
          visibility: visible

      a
        display: block
        color: $gray
        padding: 50px 15px 50px
        text-transform: uppercase
        font-size: 13px
        font-weight: bold

        &:hover
          color: $link-color

    .button
      padding: 0

      a
        padding: 12px 22px 12px 22px
        color: white

      &.current-menu-item
        a
          padding: 12px 22px 12px 22px
          border-bottom: 0

    .current-menu-item, .current_page_ancestor
      > a
        border-top: 4px solid $link-color
        padding: 46px 15px 50px

  .menu-item-has-children
    &:before
      content: "\f107"
      display: inline-block
      font-family: 'FontAwesome'
      font-style: normal
      font-weight: normal
      line-height: 1
      -webkit-font-smoothing: antialiased
      color: $gray
      position: absolute
      bottom: 20px
      left: 50%
      margin-left: -8px

  .sub-menu
    position: absolute
    width: 284px
    left: -142px
    margin-left: 50%
    background: rgba(255, 255, 255, .95)
    text-align: center
    border-radius: 5px
    box-shadow: 0 1px 3px rgba(0, 0, 0, .2)
    border-top: 1px solid $light-gray
    visibility: hidden
    padding: 5px 0
    z-index: 999
    opacity: 0
    top: 110%

    li
      width: 100%

      a
        padding: 15px
        width: 100%

    .current-menu-item > a
      border-top: none
      color: $link-color

    &:before
      content: ''
      border-bottom: 16px solid $light-gray
      border-left: 16px solid transparent
      border-right: 16px solid transparent
      position: absolute
      top: -16px
      margin-left: 50%
      left: -16px

    &:after
      content: ''
      border-bottom: 14px solid rgba(255, 255, 255, .9)
      border-left: 14px solid transparent
      border-right: 14px solid transparent
      position: absolute
      top: -14px
      margin-left: 50%
      left: -14px

  .logo
    //height: 128px
    //width: 408px
    display: block
    float: left

    img
      width: 100%
      height: auto

  .logo-wrapper
    position: relative
    display: inline-block
    overflow: visible

  .logo-contact
    position: absolute
    left: 136px
    bottom: 11px
    font-size: 14px

    a
      color: $gray

.header-menu
  @include span(7 of 12 last)

.menu-toggle
  display: none

.responsive-menu
  display: none