.page-header
  background: $bg-gray
  padding: 30px 17% 60px 17%

  h1
    line-height: 85%

  hr
    border: 2px solid $link-color

.page-quote
  text-align: right
  font-weight: 400
  font-style: italic
  +rem('font-size', 26px)
  padding-top: 25px
  line-height: 135%

.single-column-container
  padding: 120px 17% 90px 17%
  overflow: auto

  img.alignleft
    margin-right: 15px
    margin-bottom: 15px

.header-image + article
  padding: 50px 17% 90px 17%
  overflow: auto

.header-image
  width: 100%
  height: 300px
  background-repeat: no-repeat
  background-size: cover
  background-position: center center

//404 Page
.error404
  section
    padding: 120px 210px 90px 210px
    overflow: auto
    min-height: 500px

//Team Member Page
.team-member
  @include span(6 of 12)
  margin-bottom: 30px

  &:nth-child(odd)
    @include span(6 of 12 last)

  img
    float: left
    width: 135px
    margin-right: 30px
    border-radius: 5px
    border: 5px solid $light-gray

  h2
    line-height: 110%

  p
    margin-top: 0
    color: $med-gray

//BreadCrumbs

.crumbs
  +rem('font-size', 16px)
  color: $med-gray
  margin-top: 20px

  a
    color: $med-gray

    &:hover
      color: $brand-primary

// 2 column layout
.two-column-container
  @include container
  padding-top: 100px
  margin: 0 9% 90px

.column-two-thirds
  @include span(8 of 12)

.column-one-third-last
  @include span(4 of 12 last)

.sidebar
  padding-top: 40px
  padding-left: 3.69492%

// Team member single page
.single-team-members
  header
    p
      color: $med-gray
      margin-top: 0
      line-height: 100%

  .attachment-post-thumbnail
    width: 250px
    float: left
    margin-right: 30px
    margin-bottom: 30px
    border-radius: 5px
    border: 5px solid $light-gray

// Office locations Page
.office-location
  width: 46%
  height: 360px
  float: left
  background-size: cover
  display: block
  border-radius: 5px
  border: 5px solid $light-gray
  position: relative

  .office-link-overlay
    background: rgba(0, 0, 0, .1)
    display: block
    width: 100%
    height: 100%
    position: absolute
    left: 0
    top: 0
    padding: 20px

  img
    width: 100px
    height: 100px
    margin: 0 auto
    display: block
    margin-top: 110px
    opacity: .8

  span
    color: white
    text-align: center
    display: block
    font-weight: bold
    +rem('font-size', 22px)
    text-shadow: 0 0 10px rgba(0, 0, 0, 1)

  &:hover
    span
      text-decoration: none

  &.chattanooga
    background: url(images/chattanooga-thumb.jpg) no-repeat center center
    margin-right: 4%
    background-size: cover

  &.ft-walton
    background: url(images/ft-walton-thumb.jpg) no-repeat center center
    background-size: cover

