.post-teaser
  margin: 50px 0

.post-meta
  color: $med-gray
  +rem('font-size', 16px)
  margin: 0

  a
    font-weight: bold
    color: lighten($gray, 30)

    &:hover
      text-decoration: underline

#post-author
  margin-top: 30px
  padding: 30px 0
  overflow: auto
  border-top: 1px solid $rly-light-gray
  border-bottom: 1px solid $rly-light-gray

  p
    margin: 8px 0
    float: left
    padding-top: 8px
    padding-left: 20px
    +rem('font-size', 18px)
    color: $med-gray

    a
      color: $med-gray
      font-weight: bold

  img
    margin: 8px
    float: left
    border-radius: 50%

#post-nav
  float: left
  width: 100%
  margin: 20px 0

.fbcomments, .fbcomments *
  width: 100% !important

.teaser-image
  color: $rly-light-gray
