.top-nav
  position: fixed
  top: 0
  left: 0
  transition: all .3s ease-in-out

.menu-toggle
  position: absolute
  top: 23px
  right: 20px
  display: block
  +rem('font-size', 24px)
  cursor: pointer

  &.active
    color: $link-color

.header-menu
  display: none

.pushed
  left: -260px
  transition: all .3s ease-in-out

.responsive-menu
  position: fixed
  right: -260px
  top: 0
  display: block
  width: 260px
  background: darken($gray, 3%)
  height: 100%
  z-index: 2000
  overflow-y: scroll
  padding-top: 20px
  +rem('font-size', 20px)
  transition: all .3s ease-in-out

  &.active
    right: 0
    transition: all .3s ease-in-out

  li a
    padding: 15px 30px
    color: white
    display: block

  .sub-menu

    li
      font-weight: normal

  .button.red
    background: rgba(255, 255, 255, .3)
    margin: 10px 40px
    text-align: center
    padding: 8px 0
    box-shadow: 0 0 0
    border: 1px solid white

.menu-social-icons
  color: white
  padding: 0 40px

  .fa
    color: white
    font-size: 24px