.promo-header
  padding-top: 145px

.teaser-text
  padding: 15px 9% 55px

  h2
    +rem(font-size, 20px)
    strong
      font-weight: normal

.section
  height: 375px

  .section-img
    height: 375px

  .section-text
    padding: 50px 8%

  &.c-def
    .section-text
      text-align: left

.page-header
  padding: 160px 10% 60px 10%

  h1
    +rem(font-size, 70px)

.single-column-container
  padding: 120px 10% 90px 10%