// pushed position for right navigation
.top-nav
  position: fixed
  left: 0
  top: 0

  h1
    +rem('font-size', 20px)

  span
    +rem('font-size', 24px)

.pushed
  left: -260px

.cover-image
  display: none

#site-wrapper
  position: relative

  > header
    position: relative
    width: 100%
    margin: 0 0 10px 0

#site-wrapper, #main-menu
  transition: all 0.2s ease
  // splash are
  // end splash area

  .toggle-menu
    text-transform: uppercase
    display: inline-block
    vertical-align: middle
    margin-left: 10px
    float: right
    +rem('font-size', 28px)
    transition: all 0.1s ease

    &:hover
      cursor: pointer
      opacity: .6
      transition: all 0.1s ease

#main-menu
  background: $gray
  position: absolute
  width: 260px
  height: 100%
  top: 0
  z-index: 1000
  right: -260px
  padding: 15px 15px 15px 30px
  margin-top: 0

  a
    text-transform: uppercase
    +rem('font-size', 20px)
    line-height: 150%
    color: white
    padding: 3px 0

    &:hover
      color: darken(white, 30)

  .toggle-menu
    color: white
    position: absolute
    top: 10px
    right: 10px
    transition: all 0.1s ease
    cursor: pointer

    &:hover
      opacity: .7
      transition: all 0.1s ease

.menu-section
  margin-top: 20px
  > a
    font-weight: bold
    cursor: default

    &:hover
      color: white !important

.logo
  width: 236px
  height: 40px
  display: block
  overflow: hidden
  position: relative
  float: left
  margin-bottom: 15px

  img
    width: 100%
    height: auto
    position: absolute
    top: -148px

