.single
  article, section
    header
      text-align: left

.post-meta
  text-align: left
  +rem('font-size', 20px)

#post-author
  text-align: center

  p
    padding: 0
    width: 100%

  img
    width: 58px
    height: 58px
    display: inline-block
    text-align: center
    float: none

#post-nav
  float: left
  width: 100%
  margin: 20px 0

.fbcomments, .fbcomments *
  width: 100% !important

.teaser-image
  color: $rly-light-gray
